[user]
	name = Carlos Villalba
	email = carlos.villalba.j@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    ds = diff --staged
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    glog = log --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph
[core]
	editor = vim
	pager = more
	autocrlf = true
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
